
.user-dashboard{
   padding: 50px;
   background-color: #f8f9fa;
   text-align: center;
}

.go-back-button {
    position:absolute;
     top: 10px;;
     right: 50px;;
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 12px 24px; /* Increased padding for better touch targets */
    margin-bottom: 30px; /* More spacing from the content */
    border-radius: 8px; /* Slightly larger border radius for a more modern look */
    cursor: pointer;
    font-size: 18px; /* Increased font size for better readability */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for hover effects */
}

.go-back-button:hover {
    background-color: #e2d8d9;
    transform: scale(1.05); /* Slight scaling effect on hover */
}
